Repository kubernetes-sigs/e2e-framework, pull requests merged in 2021-12, with the labels that each got.

#80 GIT-77: enable klog based generic logging infra with verbose handlers
  examples/flags/README.md
  examples/flags/flags_test.go
  examples/kind/kind_with_config/kind_with_config_test.go
  examples/kind/kind_with_config/main_test.go
  examples/skip_flags/main_test.go
  examples/sonobuoy/k8s_test.go
  examples/suites/main_test.go
  go.mod
  klient/conf/main_test.go
  klient/internal/testutil/setup.go
  klient/k8s/resources/main_test.go
  klient/k8s/resources/resources.go
  klient/k8s/resources/resources_test.go
  klient/wait/conditions/conditions.go
  klient/wait/main_test.go
  klient/wait/wait_test.go
  pkg/env/env.go
  pkg/env/main_test.go
  pkg/envconf/config.go
  pkg/flags/flags.go
  support/kind/kind.go
Labels: lgtm, cncf-cla: yes, approved, sig/testing, needs-ok-to-test, size/L

#84 use stdout from kind command when writing kubeconfig
  support/kind/kind.go
Labels: lgtm, cncf-cla: yes, approved, sig/testing, size/S, needs-ok-to-test

#85 support loading images into kind cluster
  pkg/envfuncs/kind_funcs.go
  support/kind/kind.go
Labels: lgtm, cncf-cla: yes, approved, size/M, sig/testing, needs-ok-to-test

#82 GIT-81: fix syntax highlighting for klient Design Doc
  docs/design/klient-package.md
Labels: lgtm, cncf-cla: yes, approved, size/M, sig/testing, needs-ok-to-test

#79 add condition helpers and examples
  examples/wait_for_resources/README.md
  examples/wait_for_resources/main_test.go
  examples/wait_for_resources/wait_test.go
  klient/internal/testutil/setup.go
  klient/wait/conditions/conditions.go
  klient/wait/wait_test.go
  pkg/envfuncs/kind_funcs.go
Labels: size/XL, lgtm, cncf-cla: yes, approved, sig/testing, needs-ok-to-test

#55 Support for table-driven test representation
  .gitignore
  examples/table/README.md
  examples/table/table_test.go
  pkg/env/env.go
  pkg/features/table.go
Labels: cncf-cla: yes, approved, sig/testing, size/L
