Repository kubernetes-sigs/e2e-framework, pull requests merged in 2021-11, with the labels that each got.

#71 Rework the FeatureInfo wiring
  pkg/env/action.go
  pkg/env/env.go
  pkg/env/env_test.go
  pkg/features/builder.go
  pkg/internal/types/types.go
Labels: lgtm, cncf-cla: yes, approved, sig/testing, size/L

#70 feat: Kind Cluster with Config
  examples/kind/kind_with_config/kind-config.yaml
  examples/kind/kind_with_config/kind_with_config_test.go
  examples/kind/kind_with_config/main_test.go
  pkg/envfuncs/kind_funcs.go
  support/kind/kind.go
Labels: lgtm, cncf-cla: yes, approved, sig/testing, needs-ok-to-test, size/L

#76 Fix typos in the design document
  docs/design/test-harness-framework.md
Labels: lgtm, size/XS, cncf-cla: yes, approved, sig/testing, needs-ok-to-test

#73 GIT-60: enable helper function for conditional waits
  klient/internal/testutil/setup.go
  klient/k8s/resources/main_test.go
  klient/wait/conditions/conditions.go
  klient/wait/main_test.go
  klient/wait/wait.go
  klient/wait/wait_test.go
Labels: size/XL, lgtm, cncf-cla: yes, approved, sig/testing, ok-to-test

#74 Allow re-use of kind clusters
  support/kind/kind.go
Labels: lgtm, cncf-cla: yes, approved, size/M, sig/testing, needs-ok-to-test
