Repository kubernetes-sigs/e2e-framework, pull requests merged in 2022-11, with the labels that each got.

#167 Add ExecInPod method with an example test
  .gitignore
  examples/pod_exec/README.md
  examples/pod_exec/envtest_test.go
  examples/pod_exec/main_test.go
  examples/wait_for_resources/wait_test.go
  go.mod
  go.sum
  klient/k8s/resources/resources.go
  klient/k8s/resources/resources_test.go
Labels: lgtm, cncf-cla: yes, approved, sig/testing, needs-ok-to-test, size/L

#156 controller-runtime: enable ability to fetch controller runtime client
  klient/client.go
  klient/k8s/resources/resources.go
Labels: lgtm, cncf-cla: yes, approved, sig/testing, size/S, needs-ok-to-test

#170 Fix decoder delete ignore not found
  klient/decoder/decoder.go
  klient/decoder/decoder_test.go
  pkg/envfuncs/kind_funcs.go
Labels: lgtm, cncf-cla: yes, approved, sig/testing, ok-to-test, size/S
