Repository kubernetes-sigs/e2e-framework, pull requests merged in 2022-01, with the labels that each got.

#95 match on exact cluster names
  support/kind/kind.go
Labels: lgtm, cncf-cla: yes, approved, size/M, sig/testing, ok-to-test

#87 add yaml and json helpers
  docs/design/resource-decoding.md
  examples/decoder/README.md
  examples/decoder/decoder_test.go
  examples/decoder/main_test.go
  examples/decoder/testdata/configmap.yaml
  examples/decoder/testdata/deployment.yaml
  examples/decoder/testdata/service.json
  klient/decoder/decoder.go
  klient/decoder/decoder_test.go
  klient/decoder/main_test.go
  klient/decoder/testdata/example-configmap-1.yaml
  klient/decoder/testdata/example-configmap-3.json
  klient/decoder/testdata/example-multidoc-1.yaml
  klient/decoder/testdata/examples/example-configmap-2.yaml
  klient/decoder/testdata/examples/example-sa-1.yaml
  klient/decoder/testdata/examples/example-sa-2.yml
  klient/decoder/testdata/examples/example-sa-3.json
  klient/decoder/testdata/fake-crd.yaml
Labels: lgtm, cncf-cla: yes, size/XXL, approved, sig/testing, ok-to-test

#88 GIT-49: enable parallel run of test features
  examples/parallel_features/README.md
  examples/parallel_features/parallel_features_test.go
  examples/table/table_test.go
  pkg/env/env.go
  pkg/env/env_test.go
  pkg/envconf/config.go
  pkg/envconf/config_test.go
  pkg/flags/flags.go
  pkg/flags/flags_test.go
  pkg/internal/types/types.go
Labels: lgtm, cncf-cla: yes, approved, sig/testing, ok-to-test, size/L

#90 GIT-83: enable helm support for test workflow
  Makefile
  examples/third_party_integration/README.md
  examples/third_party_integration/helm/README.md
  examples/third_party_integration/helm/helm_test.go
  examples/third_party_integration/helm/main_test.go
  examples/third_party_integration/helm/testdata/example_chart/.helmignore
  examples/third_party_integration/helm/testdata/example_chart/Chart.yaml
  examples/third_party_integration/helm/testdata/example_chart/templates/deployment.yaml
  examples/third_party_integration/helm/testdata/example_chart/templates/service.yaml
  examples/third_party_integration/helm/testdata/example_chart/templates/tests/test-connection.yaml
  examples/third_party_integration/helm/testdata/example_chart/values.yaml
  hack/install-helm.sh
  third_party/helm/helm.go
Labels: size/XL, lgtm, cncf-cla: yes, approved, sig/testing, ok-to-test

#102 Add *testing.T to before/after feature hooks
  pkg/env/action.go
  pkg/env/env.go
  pkg/env/env_test.go
  pkg/internal/types/types.go
Labels: lgtm, cncf-cla: yes, approved, sig/testing, size/S
