Repository kubernetes-sigs/e2e-framework, pull requests merged in 2024-06, with the labels that each got.

#432 Fix value propagation in context for test actions
  pkg/env/env.go
  pkg/env/env_test.go
Labels: kind/bug, lgtm, cncf-cla: yes, approved, size/M, sig/testing, ok-to-test

#415 third_party/ko: Add ko as third party tools
  examples/third_party_integration/README.md
  examples/third_party_integration/ko/ko_test.go
  examples/third_party_integration/ko/main_test.go
  examples/third_party_integration/ko/testdata/example_goapp/main.go
  third_party/helm/helm.go
  third_party/ko/ko.go
Labels: kind/feature, lgtm, cncf-cla: yes, approved, sig/testing, ok-to-test, size/L

#424 execute test suite only if the setup was successful
  pkg/env/env.go
Labels: kind/bug, lgtm, size/XS, cncf-cla: yes, approved, sig/testing, ok-to-test
