Repository kubernetes-sigs/e2e-framework, pull requests merged in 2025-01, with the labels that each got.

#480 update golangci-lint
  .github/workflows/release.yml
  hack/verify-golangci-lint.sh
  klient/wait/conditions/conditions.go
  klient/wait/wait_test.go
  pkg/env/action_test.go
  pkg/env/env_test.go
  pkg/envfuncs/kind_funcs.go
Labels: lgtm, cncf-cla: yes, kind/cleanup, approved, size/M, sig/testing

#476 Updating example controller test to e2e-framework v0.5.0 and make it running
  .github/PULL_REQUEST_TEMPLATE.md
  examples/controller_tests/README.md
  examples/controller_tests/testdata/Dockerfile
  examples/controller_tests/testdata/config/crd/bases/batch.tutorial.kubebuilder.io_cronjobs.yaml
  examples/controller_tests/testdata/e2e-test/e2e_test.go
  examples/controller_tests/testdata/e2e-test/main_test.go
  examples/controller_tests/testdata/go.mod
  examples/controller_tests/testdata/go.sum
  pkg/utils/command.go
Labels: lgtm, cncf-cla: yes, size/XXL, kind/cleanup, approved, sig/testing, ok-to-test

#479 Add `WithWaitDuration` ClusterOpts function
  support/kwok/kwok.go
  third_party/kwok/kwok.go
Labels: kind/feature, lgtm, cncf-cla: yes, approved, sig/testing, ok-to-test, size/S

#475 Add specific DecodeURL function in decoder package
  klient/decoder/decoder.go
  klient/decoder/decoder_test.go
Labels: kind/feature, lgtm, cncf-cla: yes, approved, size/M, sig/testing, ok-to-test
